<div fxLayout="column">
    <div>
        <h1>Search heroes</h1>
        <mat-divider></mat-divider>
    </div>
    <div fxLayout="column">
        <h3>Search</h3>

        <mat-form-field class="example-full-width">
            <mat-label>Hero</mat-label>
            <input type="text"
                   placeholder="Pick one"
                   aria-label="Hero"
                   matInput
                   [(ngModel)]="term"
                   [matAutocomplete]="auto"
                   (input)="search()">

            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="getOptionSelected($event)">
              <mat-option *ngFor="let hero of heroes" [value]="hero">
                {{hero.superhero}}
              </mat-option>

              <mat-option value="" *ngIf="heroes.length === 0 && term.length > 0">
                  Didn't find any hero with name {{term}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
    </div>

    <div *ngIf="selectedHero" style="width: 20%;">
        <app-hero-card [hero]="selectedHero"></app-hero-card>
    </div>
</div>
